@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="display-4">Peliculas</h1>
    <h3 class="display-6 text-start">Peliculas registradas actualmente: </h3>
    <p>Aun no hay peliculas registradas actualmente.</p>
</div>